<div class="container-full animated fadeIn relative-content">
    <div class="nna-forms-bg-sm nna-padding-b-none">
        <span class="view-more" i18n="_Scroll_"></span>
        <form class="form insert-notary col-md-12 nna-vertical-margin nna-padding-b-120" id="notary_form" name="notary_form" novalidate ng-submit="vm.setValidityForm(notary_form)">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="title" class="control-label" i18n="_Title_"></label>
                            <i class="fa fa-question-circle" tooltip-placement="right" tooltip="_Title_" uib-tooltip=""></i>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="title" name="title" tabindex="999" autofocus="autofocus" ng-model="vm.model.title" ng-options="option.text as option.text for option in vm.titleTuple">
                                <option value="" disabled="disabled" i18n="_TitleSelection_"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" ng-class="{ 'has-error': !vm.isFormFieldValid(notary_form.firstName) }">
                        <div class="col-md-4">
                            <label for="firstName" class="control-label" i18n="_FirstName_"></label><strong class="nna-mandatory-field"> *</strong>
                            <i class="fa fa-question-circle" tooltip-placement="right" tooltip="_FirstName_" uib-tooltip=""></i>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="firstName" id="firstName" maxlength="50" placeholder="First Name" autofocus="autofocus" tooltip="<strong>Mandatory Field</strong>" required="required" ng-model="vm.model.firstName" ng-change="vm.commission.commissionName = vm.getDefaultCommissionModel().commissionName" tabindex="1000" />
                        </div>
                        <div ng-messages="notary_form.firstName.$error" class="col-md-offset-4 col-md-8" ng-if="!vm.isFormFieldValid(notary_form.firstName)">
                            <div ng-message="required" class="form-error" i18n="_FirstNameRequiredValidation_"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="middleName" class="control-label" i18n="_MiddleName_"></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="middleName" id="middleName" maxlength="50" placeholder="{{vm.getLocalizedResource('_OptionalField_')}}" ng-model="vm.model.middleName" ng-change="vm.commission.commissionName = vm.getDefaultCommissionModel().commissionName" tabindex="1001" />
                        </div>
                    </div>
                    <div class="form-group row" ng-class="{ 'has-error': !vm.isFormFieldValid(notary_form.lastName) }">
                        <div class="col-md-4">
                            <label for="lastName" class="control-label" i18n="_LastName_"></label><strong class="nna-mandatory-field"> *</strong>
                            <i class="fa fa-question-circle" tooltip-placement="right" tooltip="_LastName_" uib-tooltip=""></i>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="lastName" id="lastName" maxlength="50" placeholder="Last Name" ng-model="vm.model.lastName" ng-change="vm.commission.commissionName = vm.getDefaultCommissionModel().commissionName" tabindex="1002" required />
                        </div>
                        <div ng-messages="notary_form.lastName.$error" class="col-md-offset-4 col-md-8" ng-if="!vm.isFormFieldValid(notary_form.lastName)">
                            <div ng-message="required" class="form-error" i18n="_LastNameRequiredValidation_"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="suffix" class="control-label" i18n="_Suffix_"></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="suffix" id="suffix" maxlength="50" placeholder="{{vm.getLocalizedResource('_OptionalField_')}}" ng-model="vm.model.suffix" ng-change="vm.commission.commissionName = vm.getDefaultCommissionModel().commissionName" tabindex="1003" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row" ng-class="{ 'has-error': !vm.isFormFieldValid(notary_form.email) }">
                        <div class="col-md-4">
                            <label for="email" class="control-label" i18n="_Email_"></label><strong class="nna-mandatory-field" ng-if="vm.thirdPartyEnroll"> *</strong>
                            <i class="fa fa-question-circle" tooltip-placement="right" tooltip="_Email_" uib-tooltip=""></i>
                        </div>
                        <div class="col-md-8">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="vm.model.email" tabindex="1004" ng-required="vm.thirdPartyEnroll" email-validator />
                        </div>
                        <div class="col-md-offset-4 col-md-8" ng-if="!vm.isFormFieldValid(notary_form.email)">
                            <div ng-message="required" class="form-error" i18n="_EmailValidation_"></div>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="vm.isCostCenterRequired" ng-class="{ 'has-error': !vm.isFormFieldValid(notary_form.costcenter) }">
                        <div class="col-md-4">
                            <label for="costcenter" class="control-label" i18n="_NotaryCostCenter_"></label><strong class="nna-mandatory-field"> *</strong>
                            <i class="fa fa-question-circle" tooltip-placement="right" tooltip="_NotaryCostCenter_" uib-tooltip=""></i>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="costcenter" name="costcenter" placeholder="Cost center" maxlength="15" ng-model="vm.model.costCenter" required="required" tabindex="1005" />
                        </div>
                        <div ng-messages="notary_form.costcenter.$error" class="col-md-offset-4 col-md-8" ng-if="!vm.isFormFieldValid(notary_form.costcenter)">
                            <div ng-message="required" class="form-error" i18n="_CostCenterRequiredValidation_"></div>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="vm.notaryItems.indexOf('formExternalEmployeeId') >= 0" ng-class="{ 'has-error': !vm.isFormFieldValid(notary_form.externalid) }">
                        <div class="col-md-4">
                            <label for="externalid" class="control-label" i18n="_NotaryExternalId_"></label><strong class="nna-mandatory-field" ng-if="vm.isExternalEmployeeIdRequired"> *</strong>
                            <i class="fa fa-question-circle" tooltip-placement="right" tooltip="_NotaryExternalId_" uib-tooltip=""></i>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="externalid" name="externalid" placeholder="{{vm.getLocalizedResource('_NotaryExternalId_')}}" maxlength="25" ng-model="vm.model.externalEmployeeId" limit-to="noSpaces" ng-required="vm.isExternalEmployeeIdRequired" tabindex="1004" />
                        </div>
                        <div ng-messages="notary_form.externalid.$error" class="col-md-offset-4 col-md-8" ng-if="!vm.isFormFieldValid(notary_form.externalid)">
                            <div ng-message="required" class="form-error" i18n="_ExternalIdRequiredValidation_"></div>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="vm.isAllowedToPlaceOrder && !vm.thirdPartyEnroll">
                        <div class="col-lg-7 col-lg-offset-5 col-md-8 col-md-offset-4 col-sm-6 col-xs-12 nna-flex-left">
                            <switch id="enableAllowedToPlaceOrder" name="enabled" on="Yes" off="No" ng-model="vm.model.isAllowedToPlaceOrder" class="green medium" ng-change="vm.toggleSwitch(1)"></switch>
                            <label class="nna-padding-t-none nna-margin-l-15" for="enableAllowedToPlaceOrder" i18n="_UserInvitationPlaceOrderLabel_"></label>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="nna-margin-t-none nna-margin-b-none">
            <section name="notaryAddIns">
                <address-details ng-if="vm.mode === 2"></address-details>
                <commission-details></commission-details>
                <phone-details ng-if="vm.mode === 2"></phone-details>
            </section>
            <span ng-show="notary_form.$invalid" class="pull-left"><strong class="nna-mandatory-field">*&nbsp;</strong><i i18n="_FormCaptionEmptyFields_"></i></span>
            <br />
            <div class="row nna-padding-t-15">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group buttons">
                    <button type="button" ng-click="vm.back()" class="btn btn-danger pull-left login-btn-top logout nna-margin-r-10" i18n="_BackBtn_"></button>
                    <button type="submit" class="btn btn-primary pull-right login-btn-top save"
                            ng-if="vm.mode === 1"
                            ng-click="vm.do(notary_form.$valid)"
                            i18n="_NotariesDetailsSubmitBtn_">
                    </button>
                    <button type="submit" class="btn btn-primary pull-right login-btn-top save"
                            ng-if="vm.mode === 2"
                            ng-click="vm.do(notary_form.$valid)"
                            i18n="_NotariesDetailsSubmitBtn_"></button>
                </div>
            </div>
        </form>
    </div>
</div>