<center>
  <div class="ag-padding-t-25" layout="column" ng-cloak>
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Information</h2>
      </div>
    </md-toolbar>

    <md-content flex layout-padding>
      <p>
        A Avaliação consiste no desenvolvimento da funcionalidade
        <a href="javascript:void()" ui-sref="app.performance">
          <md-button class="md-raised md-warn">Performance Comercial</md-button>
        </a> (Comercial -&gt; Performance Comercial).</p>

    </md-content>

  </div>
</center>