<table cellspacing="0" cellpadding="0" width="100%" border="0">
    <tbody>
        <tr>
            <td width="100%" colspan="3" height="10"><img src="/assets/images/spacer.gif" width="10"></td>
        </tr>
        <tr>
            <td nowrap="" width="10"><img src="/assets/images/spacer.gif" width="10"></td>
            <td width="100%">
                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                    <tbody>
                        <tr>
                            <td style="BORDER-BOTTOM: #ccc 1px solid">&nbsp;</td>
                            <td width="98" background="" height="40" rowspan="2"><a href="http://www.agence.com.br/" target="_blank"><img alt="" src="/assets/images/logo.gif" border="0"></a></td>
                        </tr>
                        <tr>
                            <td style="PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px dotted; PADDING-TOP: 3px"><img height="15" alt="" src="/assets/images/fig.gif" width="51" border="0"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td nowrap="" width="10"><img src="/assets/images/spacer.gif" width="10"></td>
        </tr>
        <tr>
            <td width="100%" colspan="3" height="10"><img src="/assets/images/spacer.gif" width="10"></td>
        </tr>
        <tr>
            <td nowrap="" width="10"><img src="/assets/images/spacer.gif" width="10"></td>
            <td width="100%">&nbsp;</td>
            <td nowrap="" width="10"><img src="/assets/images/spacer.gif" width="10"></td>
        </tr>
    </tbody>
</table>
<div main-menu></div>