<div tabindex="1" id="menu1" style="z-index: 21; visibility: visible; border: 0px solid rgb(138, 134, 122); position: absolute; background: url(&quot;/assets/images/menu/winxp_back.gif&quot;) transparent; left: 1px; top: 45px; width: 437px; height: 35px;">
    <div id="hel0" style="text-align: left; position: absolute; top: 0px; left: 0px; width: 54px; height: 35px;">
        <div id="el0" style="margin: 0px; border: 1px solid rgb(255, 255, 255); text-align: left; padding: 3px; font-weight: normal; font-style: normal; font-family: Tahoma, Helvetica, Verdana; font-size: 11px; color: rgb(0, 0, 0); background: rgb(255, 255, 255); cursor: default;">&nbsp;&nbsp;<img id="im0" src="/assets/images/menu/agence.gif" border="0">&nbsp;Agence&nbsp;&nbsp;</div>
        <div style="top:0;position:absolute;">
            <div id="hsep0" style="position: absolute; background: rgb(138, 134, 122); width: 1px; height: 35px; left: 54px;">
            </div>
        </div>
    </div>
    <div id="hel1" style="text-align: left; position: absolute; top: 0px; width: 58px; height: 35px; left: 55px;">
        <div id="el1" style="margin: 0px; border: 1px solid rgb(255, 255, 255); text-align: left; padding: 3px; font-weight: normal; font-style: normal; font-family: Tahoma, Helvetica, Verdana; font-size: 11px; color: rgb(0, 0, 0); background: rgb(255, 255, 255); cursor: default;"
            >&nbsp;<img id="im1" src="/assets/images/menu/task_icon.gif" border="0">&nbsp;Projetos&nbsp;&nbsp;</div>
        <div style="top:0;position:absolute;">
            <div id="hsep1" style="position: absolute; background: rgb(138, 134, 122); width: 1px; height: 35px; left: 58px;">
            </div>
        </div>
    </div>
    <div id="hel2" style="text-align: left; position: absolute; top: 0px; width: 87px; height: 35px; left: 114px;">
        <div id="el2" style="margin: 0px; border: 1px solid rgb(255, 255, 255); text-align: left; padding: 3px; font-weight: normal; font-style: normal; font-family: Tahoma, Helvetica, Verdana; font-size: 11px; color: rgb(0, 0, 0); background: rgb(255, 255, 255); cursor: default;">&nbsp;<img id="im2" src="/assets/images/menu/administrativo.gif" border="0">&nbsp;Administrativo&nbsp;&nbsp;</div>
        <div style="top:0;position:absolute;">
            <div id="hsep2" style="position: absolute; background: rgb(138, 134, 122); width: 1px; height: 35px; left: 87px;">
            </div>
        </div>
    </div>
    <div id="hel3" style="text-align: left; position: absolute; top: 0px; width: 66px; height: 35px; left: 202px;">
        <div id="el3" style="margin: 0px; border: 1px solid rgb(255, 255, 255); text-align: left; padding: 3px; font-weight: normal; font-style: normal; font-family: Tahoma, Helvetica, Verdana; font-size: 11px; color: rgb(0, 0, 0); background: rgb(255, 255, 255); cursor: default;"            >&nbsp;<img id="im3" src="/assets/images/menu/comercial.gif" border="0">&nbsp;Comercial&nbsp;&nbsp;</div>
        <div style="top:0;position:absolute;">
            <div id="hsep3" style="position: absolute; background: rgb(138, 134, 122); width: 1px; height: 35px; left: 66px;">
            </div>
        </div>
    </div>
    <div id="hel4" style="text-align: left; position: absolute; top: 0px; width: 68px; height: 35px; left: 269px;">
        <div id="el4" style="margin: 0px; border: 1px solid rgb(255, 255, 255); text-align: left; padding: 3px; font-weight: normal; font-style: normal; font-family: Tahoma, Helvetica, Verdana; font-size: 11px; color: rgb(0, 0, 0); background: rgb(255, 255, 255); cursor: default;"
            
            >&nbsp;<img id="im4" src="/assets/images/menu/fichario.gif" border="0">&nbsp;Financeiro&nbsp;&nbsp;</div>
        <div style="top:0;position:absolute;">
            <div id="hsep4" style="position: absolute; background: rgb(138, 134, 122); width: 1px; height: 35px; left: 68px;">
            </div>
        </div>
    </div>
    <div id="hel5" style="text-align: left; position: absolute; top: 0px; width: 55px; height: 35px; left: 338px;">
        <div id="el5" style="margin: 0px; border: 1px solid rgb(255, 255, 255); text-align: left; padding: 3px; font-weight: normal; font-style: normal; font-family: Tahoma, Helvetica, Verdana; font-size: 11px; color: rgb(0, 0, 0); background: rgb(255, 255, 255); cursor: default;"
            
            >&nbsp;<img id="im5" src="/assets/images/menu/info_pessoa.gif" border="0">&nbsp;Usuário&nbsp;&nbsp;</div>
        <div style="top:0;position:absolute;">
            <div id="hsep5" style="position: absolute; background: rgb(138, 134, 122); width: 1px; height: 35px; left: 55px;">
            </div>
        </div>
    </div>
    <div id="hel6" style="text-align: left; position: absolute; top: 0px; width: 37px; height: 35px; left: 394px;">
        <a id="lnk6" href="index.php?logout=1" style="text-decoration:none;">
            <div id="el6" style="margin: 0px; border: 1px solid rgb(255, 255, 255); text-align: left; padding: 3px; font-weight: normal; font-style: normal; font-family: Tahoma, Helvetica, Verdana; font-size: 11px; color: rgb(0, 0, 0); background: rgb(255, 255, 255); cursor: pointer;">&nbsp;Sair&nbsp;&nbsp;</div>
        </a>
        <div style="top:0;position:absolute;">
            <div id="hsep6" style="position: absolute; background: rgb(138, 134, 122); width: 0px; height: 0px; left: 0px;">
            </div>
        </div>
    </div>
</div>
<div tabindex="1" id="menu2" style="z-index: 31; visibility: hidden; border: 1px solid rgb(138, 134, 122); position: absolute; background: url(&quot;/assets/images/menu/winxp_back.gif&quot;) transparent; width: 204px; left: 0px; top: 80px;">
    <div id="el7" style="margin:2px;text-align:left;width:194px;padding:2px 2px 2px 2px ;font-weight:normal;font-style:normal;font-family:Tahoma,Helvetica,Verdana;font-size:11px;color:#000000;background:transparent;">undefined</div>
</div>

<div tabindex="1" id="menu3" style="z-index: 44; visibility: hidden; border: 1px solid rgb(138, 134, 122); position: absolute; background: url(&quot;/assets/images/menu/winxp_back.gif&quot;) transparent; width: 244px; left: 55px; top: 80px;">
    <div id="el8" style="margin: 2px; text-align: left; width: 234px; padding: 2px; font-weight: normal; font-style: normal; font-family: Tahoma, Helvetica, Verdana; font-size: 11px; color: rgb(0, 0, 0); background: transparent; cursor: default;">undefined</div>
</div>
<div tabindex="1" id="menu4" style="z-index: 43; visibility: hidden; border: 1px solid rgb(138, 134, 122); position: absolute; background: url(&quot;/assets/images/menu/winxp_back.gif&quot;) transparent; width: 204px; left: 114px; top: 80px;">
    <div id="el9" style="margin:2px;text-align:left;width:194px;padding:2px 2px 2px 2px ;font-weight:normal;font-style:normal;font-family:Tahoma,Helvetica,Verdana;font-size:11px;color:#000000;background:transparent;">undefined</div>
</div>
<div tabindex="1" id="menu5" style="z-index: 45; visibility: hidden; border: 1px solid rgb(138, 134, 122); position: absolute; background: url(&quot;/assets/images/menu/winxp_back.gif&quot;) transparent; width: 204px; left: 202px; top: 80px;">
    <a id="lnk10" href="con_desempenho.htm" style="text-decoration:none;">
        <div id="el10" style="margin:2px;border:#FFFFFF 1px solid;text-align:left;width:194px;padding:2px 2px 2px 2px ;font-weight:normal;font-style:normal;font-family:Tahoma,Helvetica,Verdana;font-size:11px;color:#000000;background:transparent;">&nbsp;&nbsp;Performance Comercial</div>
    </a>
</div>
<div tabindex="1" id="menu6" style="z-index: 39; visibility: hidden; border: 1px solid rgb(138, 134, 122); position: absolute; background: url(&quot;/assets/images/menu/winxp_back.gif&quot;) transparent; width: 204px; left: 269px; top: 80px;">
    <div id="el11" style="margin:2px;text-align:left;width:194px;padding:2px 2px 2px 2px ;font-weight:normal;font-style:normal;font-family:Tahoma,Helvetica,Verdana;font-size:11px;color:#000000;background:transparent;">undefined</div>
</div>
<div tabindex="1" id="menu7" style="z-index: 40; visibility: hidden; border: 1px solid rgb(138, 134, 122); position: absolute; background: url(&quot;/assets/images/menu/winxp_back.gif&quot;) transparent; width: 204px; left: 338px; top: 80px;">
    <div id="el12" style="margin:2px;text-align:left;width:194px;padding:2px 2px 2px 2px ;font-weight:normal;font-style:normal;font-family:Tahoma,Helvetica,Verdana;font-size:11px;color:#000000;background:transparent;">undefined</div>
</div>