$font-stack: Helvetica, sans-serif;
$font-size-default: 12px;

// fon ts
$nna-font-default: "Open Sans", $font-stack;

// colors
$primary-blue-color: #005697;
$primary-blue-color-border: #145281;
$primary-blue-color-shadow: #1d6ca8;
$primary-red-color: #cc171e;
$primary-red-color-hover: #9a0d13;
$primary-red-color-disabled: rgba(204, 23, 30, 0.2);

$secondary-green-color: #538d77;
$secondary-green-color-border: #37705a;
$secondary-lightgreen-color: #77a492;
$secondary-lightgreen-color-disabled: #a3cbbb;
$secondary-steelblue-color: #778bb5;
$secondary-steelblue-color-hover: #6c83b2;
$secondary-steelblue-color-disabled: #909fbe;
$secondary-gray-color: #939598;
$secondary-gray-color-hover: #7c7e81;
$secondary-lightgray-color: #ececec;